<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
		<link rel="stylesheet" href="static/css/reg&log.css">			
	</head>
	<body>
		<div class="logo">
			<a href="#"><img src="static/img/logo/logo.png" alt=""></a>
			<div class="heading">Skill and Jobs Recommendation</div>
		</div>  
		<hr>
	</br></br> 
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Register</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('register') }}" method="post">
                    
                    <label for="registype"> <b>Register Type</b></label>
                    <input id="registertype" name="registertype" type="text" class="textbox" required style="color: white;"><br><br>
                    <label for="uname"> <b>Username</b> </label>
					<input id="username" name="username" type="text" class="textbox" required style="color: white;"/></br></br>
                    <label for="email"> <b>Email</b> </label>
					<input id="email" name="email" type="email" placeholder="Enter Your Email ID" class="textbox" required style="color: white;"/></br></br>
                    <label for="pass"> <b>Password</b> </label>
                    <input id="password" name="password" type="password" class="textbox" required style="color: white;"/></br></br>
                    
					<input type="submit" class="btn" value="Sign Up"></br>
				</form>
			</h2>
			<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div>
		</div>
	</body>
</html>
